/* 나눔고딕 */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
/* 노토센스 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.navbar-brand, h1, h2, h3, h4, h5{
    font-family: 'Noto Sans';
}
h5{
    font-size: 18px;
}
body{
    font-family: 'Nanum Gothic';
}

#header {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#header small {
    color: #cccccc;
}

.info {
    margin-top: 3px;
}

.dropdown-toggle::after {
    content: none;
}